/* Shila Home Css */
.shila_loop{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    box-sizing: border-box;
    margin-top: 40px;
}
ul.shila_content{
    list-style: none;
    box-sizing: border-box;
}
.shila_get_kotak{
    width: 100%;
    position: relative;
    transform: skewX(-10deg);
    margin-bottom: 20px;
}
.shila_get_kotak .shila_kotak{
    background: var(--linkColor);
    color: #fff;
    box-sizing: border-box;
    padding: 5px 10px;
    font-family: 'Oswald';
}
.shila_get_kotak .shila_kotak::before{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: var(--linkColor);
    left: 0;
    top: 50%;
    z-index: -1;
}
.shila_content .shila_card:nth-child(2) a{
    display: block;
    position: relative;
    box-sizing: border-box;
}
.shila_card:nth-child(2) a img{
    width: 100%;
    height: 370px;
    position: relative;
}
.shila_card:nth-child(2) a .shila_card_body{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(to top, #000 0, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, .3) 75%, transparent 100%);
}
.shila_card:nth-child(2) a .shila_card_body .meta{
    color: #eee6e6;
}
.shila_card:nth-child(2) a .shila_card_body .shila_card_title{
    color: #fff;
    letter-spacing: 1px;
}
.shila_card:nth-child(2) a .shila_card_body p{
    color: #eee6e6;
}
.shila_content .shila_card{
    margin-bottom: 20px;
}
.shila_content .shila_card a{
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    grid-gap: 10px;
    text-decoration: none;
}
.shila_card a img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.shila_card a .shila_card_body{
    width: 100%;
    box-sizing: border-box;
}
.shila_card_body .meta{
    font-size: 12px;
    color: var(--pBlur);
    font-family: 'Oswald';
}
.shila_card_body .shila_card_title{
    margin: 10px 0;
    color: var(--pColor);
    line-height: 30px;
    font-size: 25px;
    font-family: 'Anton';
}
.shila_card_body p{
    font-size: 17px;
    color: var(--pBlur);
    line-height: 2rem;
}

/* Pagination */
.shila_pagination{
    width: 100%;
    box-sizing: border-box;
    margin-top: 30px;
    font-family: 'Oswald';
}
.shila_pagination .current{
    color: #fff;
    text-decoration: underline;
    background-color: var(--linkColor);
    padding: 10px;
    border-radius: 2px;
}
.shila_pagination a.page-numbers{
    background: var(--hoverColor);
    padding: 10px;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
}